name: Build Docs
on: [push, pull_request]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # build docs on node 22 because
      # https://github.com/naver/jsdoc-to-mdx/issues/20
      - name: Install Node JS 22
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install
        run: |
          cd docs
          npm ci

      - name: Build
        run: |
          cd docs
          npm run build

      - name: Deploy
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs/build
          clean: true
